<%= t('Home') %>

<div class="row-fluid">
	<div class="span4 well visible-desktop" style="border-radius:0px;margin-top:10px" id="dashboard-left">
		<div style="margin-top:10px;padding:5px">
			<div style="text-align:center">
				<div class="pull-left">
					<%= g(current_user, "img-circle", size: 128)  %>
				</div>

				<div class="pull-left" style="margin-left:20px">
					<ul class="nav nav-tabs nav-stacked">
						<li style="background-color:#FFF"> <%= link_to "Refresh, they say?", root_path %> </li>
						<li style="background-color:#FFF"> <a id="create-post" href="#">Write a post, they say?</a> </li>
						<li style="background-color:#FFF"> <%= link_to "Get outta here!", destroy_user_session_path, method: :delete, confirm:"Are you going out? Be sure to come back fool!" %> </li>
					</ul>
				</div>

				<div class="clearfix"></div>

				<br />

				<p class="lead"> <%= current_user.username %> </p>

				<hr class="line" />
			</div>
		</div>

		<div style="margin-top:5px;padding:5px;">
			<%= render partial:"home/user", collection: @users %>
		</div>
	</div>

	<div class="span8">
		<div id="posts-container" style="padding:5px">
			<% @posts.in_groups_of(4, false) do |row_posts| %>
				<% row_posts.each do |post| %>
					<div class="post-block well" style="border-radius:0px" data-toggle="tooltip" data-placement="right" title="created <%= distance_of_time_in_words(Time.now, post.created_at) %> ago.">
						<div class="<%= cycle('red','green','blue') %> post-header">
						</div>

						<div style="margin-top:10px">
							<div class='pull-left'>
								<%= g(post.user, 'img-circle', size:60) %>
							</div>

							<div class='pull-left' style="margin-left:10px">
								<strong> <%= post.user.username %> </strong>
							</div>
						</div>

						<div class="clearfix"></div>

						<div style="margin-top:10px">
							<p style="font-size:12px;word-wrap:break-word"> <%= post.content %> </p>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>

<!-- MODAL //-->
<div id="create-modal" class="modal hide fade">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Any updates on Quickhits?</h3>
  </div>

  <div id="message">
  	<!-- dynamic thou content! //-->
  </div>

  <%= form_for @post, html: { data: {success: home_index_url} } do |f| %>
	  <div class="modal-body">
	  		<%= f.text_area :content, rows:10, style:"width:500px", placeholder:"Write it here", required:"required" %>
	  </div>

	  <div class="modal-footer">
	    <a href="#" class="btn close-modal">Close</a>
	    <%= f.submit "Save changes", id:"submit-post", class:"btn btn-primary" %>
	  </div>
  <% end %>

</div>