<!DOCTYPE html>
<html>
<head>
  <title>  <%= yield :title %> </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background:url(<%= asset_path("bg.png") %>) repeat">

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="navbar navbar-static-top">
				  <div class="navbar-inner">
					  <%= link_to current_user.username.titleize, home_index_path, class:"brand" %>
				    <ul class="nav">
				      <li class="active"> <%= link_to "Home", home_index_path %> </li>
				      <li> <%= link_to "<i class='icon icon-plus-sign'></i> Board".html_safe, "#", id:"create-post" %> </li>
				      <li> <%= link_to "Logout", destroy_user_session_path, method: :delete, confirm:"Are you sure you want to logout?" %> </li>
				    </ul>
				  </div>
				</div>				
			</div>
		</div>

		<% if alert %>
			<div style="margin-top:20px;background-color:#E82C0C;color:#FFF;padding:10px;height:50px">
				<p style="text-align:center;margin-top:15px;font-size:20px;letter-spacing:1px"> <%= alert %> </p>
			</div>
		<% end %>

		<% if notice %>
			<div style="margin-top:20px;background-color:green;color:#FFF;padding:10px;height:50px">
				<p style="text-align:center;margin-top:15px;font-size:20px;letter-spacing:1px"> <%= notice %> </p>
			</div>
		<% end %>

		<div class="row-fluid" style="margin-top:20px">
			<div class="span12">
				<%= yield %>
			</div>
		</div>
	</div>

</body>
</html>
